.banner {
    margin-top: 120px;
}

.banner_inner {
    display: flex;
    gap: 72px;
    align-items: center;
}
.banner_content>p{
    max-width: 526px;
    line-height: 125%;
}
.banner_content {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 40px;
}
.banner_subtitle {
    max-width: 526px;
    font-size: 18px;
}
.banner_btn {
    padding: 14px 41px;
    color: #fff;
    font-size: 24px;
    font-family: var(--abhaya-font);
    background-color: var(--clr-primary);
    transition:  .3s ease-in-out;

}

@media (max-width: 900px) {
    .banner_inner {
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }
    .banner_content {
        gap: 18px;
    }
    .banner_content>p, .banner_subtitle {
        max-width: 90vw;
        font-size: 15px;
    }
    .banner_btn {
        font-size: 18px;
        padding: 10px 24px;
    }
}
@media (max-width: 600px) {
    .banner {
        margin-top: 40px;
    }
    .banner_content>p, .banner_subtitle {
        font-size: 13px;
    }
    .banner_btn {
        font-size: 15px;
        padding: 8px 12px;
    }
}

