.advantages {
    margin-top: 0px;
}

.advantages_wrapper {
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--clr-lightbg);
}

.advantages_img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/7;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advantage_title {
    font-size: 32px;
    font-family: var(--abhaya-font);
    max-width: 1000px;
    color: white;
}

.advantages_item {
    flex-direction: column;
    font-family: var(--inter-font);
    text-align: center;

}

.item_title {
    font-weight: 700;
    color: var(--clr-primary);
    font-size: 20px;
}

.item_subtitle {
    margin-top: 16px;
    color: var(--clr-secondary);
    font-size: 16px;
    font-weight: 300;
    max-width: 240px;
}

@media (max-width: 1000px) {
    .advantages_wrapper {
        flex-direction: column;
        align-items: center;
        padding: 24px 4vw;
        gap: 24px;
    }
    .advantages_img {
        width: 90vw;
        min-width: 180px;
        max-width: 98vw;
    }
    .advantage_title {
        font-size: 20px;
        max-width: 90vw;
    }
    .item_title {
        font-size: 16px;
    }
    .item_subtitle {
        font-size: 13px;
        max-width: 90vw;
    }
}
@media (max-width: 600px) {
    .advantages_wrapper {
        padding: 12px 2vw;
        gap: 12px;
    }
    .advantages_img {
        width: 98vw;
    }
    .advantage_title {
        font-size: 14px;
    }
}