.banner {
    margin-top: 120px;
    background: url(/src/assets/imgs/Banner.png);
    background-size: cover;
    padding: 120px 0;
}

.banner_inner {
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner_content {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 856px;
    background: url(/src/assets/imgs/salebanner.png);
    background-size: cover;
    padding: 87.5px;

}

.sale_text {
    font-size: 40px;
    color: #fff;
    font-family: var(--abhaya-font);

}

.sale_title {
    margin-top: 16px;
    font-size: 50px;
    color: #fff;
    font-family: var(--abhaya-font);

}

.btn {
    margin-top: 40px;
    padding: 14px 70px;
    color: #fff;
    font-size: 24px;
    font-family: var(--abhaya-font);
    background-color: var(--clr-primary);
    transition: .3s ease-in-out;
    background: var(--clr-primary);
}

.btn:hover {
    background-color: #9a0909;
}

@media (max-width: 900px) {
    .banner_content {
        width: 90vw;
        padding: 24px;
    }
    .sale_text {
        font-size: 22px;
    }
    .sale_title {
        font-size: 28px;
    }
    .btn {
        font-size: 16px;
        padding: 10px 24px;
    }
}
@media (max-width: 600px) {
    .banner {
        margin-top: 40px;
        padding: 40px 0;
    }
    .banner_content {
        width: 98vw;
        padding: 8px;
    }
    .sale_text {
        font-size: 14px;
    }
    .sale_title {
        font-size: 18px;
    }
    .btn {
        font-size: 13px;
        padding: 6px 10px;
    }
}